extends layout

block content
  h1= title
  p Welcome to #{title}
  p 써도대여 API 
  p product (get/set)          :: 전체조회
  p product/:id (get/set)      :: 단건조회
  p product/:id/history (get/set)  :: product id 의 history 모두 조회
  p users 
