html
  head
    style.
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      },

    script.
      //- function test() {
      //-   window.location.href = "http://www.naver.com/";
      //- }
      //- function sso_sign() {
      //-   if(env == 'production') {
      //-     piaPopOpen(700,950,"https://pasta.snacpia.com/client/popup/signup","lfix_sign");
      //-   } else {
      //-     piaPopOpen(700,950,"http://dev.futurepia.co.kr:8082/client/popup/signup","lfix_sign");
      //-   }
      //- }
      //- function sso_login() {
      //-   if(env == 'production') {
      //-     piaPopOpen(700,850,"https://pasta.snacpia.com/client/popup/login","lfix_login");
      //-   } else {
      //-     piaPopOpen(700,850,"http://dev.futurepia.co.kr:8082/client/popup/login","lfix_login");
      //-   }
      //- }
      function piaPopOpen(Width, Height, url, retUrl) {
        if (!retUrl) relUrl = ""
        var Option="width="+Width+", height="+parseInt(Height);
        
        var pop_title = "piaPopOpener";
        window.open("", pop_title, Option);

        var f = document.piaActFrm;
        //- f.gubun.value = retUrl;
        f.target = pop_title;
        f.action = "http://dev.futurepia.co.kr:8082/client/popup/login?client_key=wqe48asd5118wq1e565we41q56we15";
        f.submit();
      }
    
  body
    form(name="piaActFrm", method="post")
      div(onclick='piaPopOpen()', style="display: flex; height:100%; align-items: center; justify-content: center;")
        div(classname="text", style="color: #4630eb; margin: auto; font-size: 50px;") ㅆㄷㄷㅇ